/* line 1, ../../sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/* line 8, ../../sass/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../../sass/_reset.scss */
h1 {
  font-size: 1.43em;
  line-height: 1.5em;
  font-weight: 700;
  color: #4a4a4a;
}

/* line 21, ../../sass/_reset.scss */
h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
  color: #4a4a4a;
  margin-bottom: 6px;
}

/* line 28, ../../sass/_reset.scss */
div {
  display: block;
}

/* line 32, ../../sass/_reset.scss */
a {
  text-decoration: none;
}

/* grid variables */
/* screen */
/* box */
/* font */
/* colors */
/* line 4, ../../sass/_container.scss */
.item-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 3px;
  padding-right: 3px;
  display: block;
  padding: 0px 20px;
}
/* line 2, ../../sass/mixin/_clearfix.scss */
.item-container:before, .item-container:after {
  content: " ";
  display: table;
}
/* line 7, ../../sass/mixin/_clearfix.scss */
.item-container:after {
  clear: both;
}
/* line 2, ../../sass/mixin/_clearfix.scss */
.item-container:before, .item-container:after {
  content: " ";
  display: table;
}
/* line 7, ../../sass/mixin/_clearfix.scss */
.item-container:after {
  clear: both;
}

/* line 12, ../../sass/_container.scss */
.bg-color-gray {
  background-color: #f6f6f6;
}

/* line 16, ../../sass/_container.scss */
.row {
  position: relative;
}
/* line 2, ../../sass/mixin/_clearfix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 7, ../../sass/mixin/_clearfix.scss */
.row:after {
  clear: both;
}

/* line 19, ../../sass/mixin/_make-row.scss */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
  float: left;
}
/* line 25, ../../sass/mixin/_make-row.scss */
.col-1:first-of-type, .col-2:first-of-type, .col-3:first-of-type, .col-4:first-of-type, .col-5:first-of-type, .col-6:first-of-type, .col-7:first-of-type, .col-8:first-of-type, .col-9:first-of-type, .col-10:first-of-type, .col-11:first-of-type, .col-12:first-of-type {
  padding-left: 0;
}
/* line 28, ../../sass/mixin/_make-row.scss */
.col-1:last-of-type, .col-2:last-of-type, .col-3:last-of-type, .col-4:last-of-type, .col-5:last-of-type, .col-6:last-of-type, .col-7:last-of-type, .col-8:last-of-type, .col-9:last-of-type, .col-10:last-of-type, .col-11:last-of-type, .col-12:last-of-type {
  padding-right: 0;
}

/* line 36, ../../sass/mixin/_make-row.scss */
.col-0 {
  width: 0%;
}

/* line 36, ../../sass/mixin/_make-row.scss */
.col-1 {
  width: 8.33333%;
}

/* line 36, ../../sass/mixin/_make-row.scss */
.col-2 {
  width: 16.66667%;
}

/* line 36, ../../sass/mixin/_make-row.scss */
.col-3 {
  width: 25%;
}

/* line 36, ../../sass/mixin/_make-row.scss */
.col-4 {
  width: 33.33333%;
}

/* line 36, ../../sass/mixin/_make-row.scss */
.col-5 {
  width: 41.66667%;
}

/* line 36, ../../sass/mixin/_make-row.scss */
.col-6 {
  width: 50%;
}

/* line 36, ../../sass/mixin/_make-row.scss */
.col-7 {
  width: 58.33333%;
}

/* line 36, ../../sass/mixin/_make-row.scss */
.col-8 {
  width: 66.66667%;
}

/* line 36, ../../sass/mixin/_make-row.scss */
.col-9 {
  width: 75%;
}

/* line 36, ../../sass/mixin/_make-row.scss */
.col-10 {
  width: 83.33333%;
}

/* line 36, ../../sass/mixin/_make-row.scss */
.col-11 {
  width: 91.66667%;
}

/* line 36, ../../sass/mixin/_make-row.scss */
.col-12 {
  width: 100%;
}

/* line 7, ../../sass/_global.scss */
.margin-bottom-sm {
  margin-bottom: 6px;
}

/* line 10, ../../sass/_global.scss */
.margin-bottom-md {
  margin-bottom: 12px;
}

/* line 13, ../../sass/_global.scss */
.margin-bottom-lg {
  margin-bottom: 24px;
}

/* line 17, ../../sass/_global.scss */
.margin-top-sm {
  margin-top: 6px;
}

/* line 21, ../../sass/_global.scss */
.margin-top-md {
  margin-top: 12px;
}

/* line 24, ../../sass/_global.scss */
.margin-top-lg {
  margin-top: 24px;
}

/* line 28, ../../sass/_global.scss */
.margin-left-md {
  margin-left: 12px;
}

/* line 32, ../../sass/_global.scss */
.margin-left-sm {
  margin-left: 6px;
}

/* line 36, ../../sass/_global.scss */
.margin-right-sm {
  margin-right: 6px;
}

/* line 40, ../../sass/_global.scss */
.margin-right-lg {
  margin-right: 24px;
  display: block;
}

/* line 45, ../../sass/_global.scss */
.margin-top-xl {
  margin-top: 39.9996px;
}

/* line 49, ../../sass/_global.scss */
.description {
  color: #777777;
}

/* line 53, ../../sass/_global.scss */
i {
  margin: 6px;
}

/* line 57, ../../sass/_global.scss */
.text-center {
  text-align: center;
}
