/* grid variables */
/* screen */
/* box */
/* font */
/* colors */
/* line 2, ../../sass/_title.scss */
.title {
  padding-left: .5em;
}
/* line 4, ../../sass/_title.scss */
.title .required-mark {
  font-weight: bold;
  font-size: .8em;
  position: relative;
  top: -0.3em;
  color: red;
}
/* line 10, ../../sass/_title.scss */
.title .required-mark:before {
  content: "*";
}

/* line 16, ../../sass/_title.scss */
input {
  border-radius: 1px;
  border: 1px solid #9b9b9b;
  padding: 4px 10px;
  width: 100%;
  line-height: 1.75em;
}

/* line 46, ../../sass/_button.scss */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  transition: all .2s;
  padding: 2px 20px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 64, ../../sass/_button.scss */
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 70, ../../sass/_button.scss */
.btn:hover, .btn:focus, .btn.focus {
  color: #333;
  text-decoration: none;
}
/* line 77, ../../sass/_button.scss */
.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 84, ../../sass/_button.scss */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: cursor-disabled;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 92, ../../sass/_button.scss */
a.btn {
  text-decoration: none;
}
/* line 94, ../../sass/_button.scss */
a.btn.disabled, fieldset[disabled] a.btn {
  pointer-events: none;
}

/* line 144, ../../sass/_button.scss */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  font-size: 15.96px;
}
/* line 105, ../../sass/_button.scss */
.btn-default:focus, .btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
/* line 111, ../../sass/_button.scss */
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #a1a1a1;
}
/* line 117, ../../sass/_button.scss */
.btn-default:active, .btn-default.active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
/* line 122, ../../sass/_button.scss */
.btn-default:active.focus, .btn-default.active.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
/* line 132, ../../sass/_button.scss */
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:active, .btn-default[disabled].active, .btn-default[disabled]:focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus {
  color: #333;
  background-color: #fff;
}

/* line 149, ../../sass/_button.scss */
.btn-primary {
  color: #fff;
  background-color: #1485E5;
  border-color: #1277ce;
  font-size: 15.96px;
}
/* line 105, ../../sass/_button.scss */
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #106ab6;
  border-color: #083358;
}
/* line 111, ../../sass/_button.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #106ab6;
  border-color: #0b497e;
}
/* line 117, ../../sass/_button.scss */
.btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #106ab6;
  border-color: #0d5795;
}
/* line 122, ../../sass/_button.scss */
.btn-primary:active.focus, .btn-primary.active.focus {
  color: #fff;
  background-color: #0d5795;
  border-color: #083358;
}
/* line 132, ../../sass/_button.scss */
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:active, .btn-primary[disabled].active, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus {
  color: #fff;
  background-color: #1485E5;
}

/* line 154, ../../sass/_button.scss */
.btn-secondary {
  color: #3e9dee;
  background-color: #e2f0fc;
  border-color: #cbe4fa;
  font-size: 15.96px;
}
/* line 105, ../../sass/_button.scss */
.btn-secondary:focus, .btn-secondary.focus {
  color: #3e9dee;
  background-color: #b3d9f8;
  border-color: #55a9f0;
}
/* line 111, ../../sass/_button.scss */
.btn-secondary:hover {
  color: #3e9dee;
  background-color: #b3d9f8;
  border-color: #7bbcf3;
}
/* line 117, ../../sass/_button.scss */
.btn-secondary:active, .btn-secondary.active {
  color: #3e9dee;
  background-color: #b3d9f8;
  border-color: #92c8f6;
}
/* line 122, ../../sass/_button.scss */
.btn-secondary:active.focus, .btn-secondary.active.focus {
  color: #3e9dee;
  background-color: #92c8f6;
  border-color: #55a9f0;
}
/* line 132, ../../sass/_button.scss */
.btn-secondary.disabled, .btn-secondary.disabled:hover, .btn-secondary.disabled:active, .btn-secondary.disabled.active, .btn-secondary.disabled:focus, .btn-secondary.disabled.focus, .btn-secondary[disabled], .btn-secondary[disabled]:hover, .btn-secondary[disabled]:active, .btn-secondary[disabled].active, .btn-secondary[disabled]:focus, .btn-secondary[disabled].focus, fieldset[disabled] .btn-secondary, fieldset[disabled] .btn-secondary:hover, fieldset[disabled] .btn-secondary:active, fieldset[disabled] .btn-secondary.active, fieldset[disabled] .btn-secondary:focus, fieldset[disabled] .btn-secondary.focus {
  color: #3e9dee;
  background-color: #e2f0fc;
}

/* line 2, ../../sass/partical/config-list.scss */
.dragable-icon {
  position: absolute;
  width: 0;
  top: 3px;
  left: -20px;
  z-index: 2;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
  margin-right: 0;
  color: #bebebe;
  cursor: move;
}

/* line 16, ../../sass/partical/config-list.scss */
.add-button {
  text-decoration: none;
  color: #4a90e2;
  font-weight: bold;
  display: inline-block;
  margin: 0 12px;
  padding: 0;
  cursor: pointer;
}
/* line 24, ../../sass/partical/config-list.scss */
.add-button:hover {
  color: #2275d7;
}
/* line 27, ../../sass/partical/config-list.scss */
.add-button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.65;
}

/* line 34, ../../sass/partical/config-list.scss */
.hint {
  color: #bebebe;
}

/* line 38, ../../sass/partical/config-list.scss */
.trash-icon {
  position: absolute;
  top: 4px;
  right: -3px;
  color: red;
  cursor: pointer;
}
/* line 44, ../../sass/partical/config-list.scss */
.trash-icon:hover {
  color: #cc0000;
}

/* line 49, ../../sass/partical/config-list.scss */
.inline-error-message {
  color: red;
  padding: 0px 2px 2px 2px;
}

/* line 54, ../../sass/partical/config-list.scss */
.header-error-message {
  padding: 2px 10px;
  text-align: center;
  color: red;
  background: #FFD8D8;
}

/* line 61, ../../sass/partical/config-list.scss */
.single-select-wrapper {
  position: relative;
}
/* line 63, ../../sass/partical/config-list.scss */
.single-select-wrapper .single-select {
  -webkit-appearance: none;
  border-radius: 1px;
  border: 1px solid #9b9b9b;
  padding: 0.29em 1.43em 0.29em 0.71em;
  width: 100%;
  line-height: 1.75em;
  background-color: white;
}
/* line 72, ../../sass/partical/config-list.scss */
.single-select-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  top: 1em;
  right: .6em;
  width: 0;
  height: 0;
  border-left: 0.29em solid transparent;
  border-right: 0.29em solid transparent;
  border-top: 0.43em solid black;
}
